<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="container" style="margin: 0px;">
    <div class="shop-left">
        <img src={{record?.store_logo}} alt="Shop Logo">
        <h3>{{record?.store_name}}</h3>
        <p>Chủ cửa hàng: {{record?.full_name}}</p>
        <p><i class="fas fa-birthday-cake"></i> Ngày sinh: {{record?.date_of_birth}}</p>
        <p>Mã Thuế: {{record?.business_license}}</p>
    </div>

    <div class="shop-right">
        <h4>Thông Tin Cửa Hàng</h4>
        <table class="info-table">
            <tr>
                <th>Tên Shop</th>
                <td>{{record?.store_name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{record?.email}}</td>
            </tr>
            <tr>
                <th>Số Điện Thoại</th>
                <td>{{record?.phone}}</td>
            </tr>
            <tr>
                <th>Địa Chỉ</th>
                <td>{{record?.address}}</td>
            </tr>
            <tr>
                <th>Mô Tả</th>
                <td>{{record?.
                    store_description
                    }}</td>
            </tr>
        </table>

        <!-- Giấy phép kinh doanh -->
        <div class="license-img">
            <h4>Giấy Phép Kinh Doanh</h4>
            <img src={{record?.business_license_url}} alt="Giấy Phép Kinh Doanh">
        </div>
        <div class="text-center">
            <a href="javascript:history.back()" class="btn-back">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
        </div>
    </div>
</div>

</body>
</html>
